<ion-view view-title="Chats">
  <ion-content style="background-color:#555;">
    <div class="row" style="padding:0;margin:0;">
      <div ng-click="EnviarDenuncia('asalto')" class="col" style="padding:0;margin:0;">
        <div class="list card">
            <div class="item item-image padding">
              <img src="img/crimecons/pistol.png">
            </div>
            <a class="item assertive" href="#">
              Asaltos
            </a>
          </div>
      </div>
      <div ng-click="EnviarDenuncia('maltrato infantil')" class="col" style="padding:0;margin:0;">
        <div class="list card">
            <div class="item item-image padding">
              <img src="img/crimecons/maltrato_infantil.jpg">
            </div>
            <a class="item assertive" href="#">
              Maltrato infantil
            </a>
          </div>
      </div>
    </div>
    <div class="row" style="padding:0;margin:0;">
      <div ng-click="EnviarDenuncia('maltrato psicologico')" class="col" style="padding:0;margin:0;">
        <div class="list card">
            <div class="item item-image padding">
              <img src="img/crimecons/maltrato_psico.jpg">
            </div>
            <a class="item assertive" href="#">
              Maltrato psicologico
            </a>
          </div>
      </div>
      <div ng-click="EnviarDenuncia('violencia domestica')" class="col" style="padding:0;margin:0;">
        <div class="list card">
            <div class="item item-image padding">
              <img src="img/crimecons/violencia_domes.jpg">
            </div>
            <a class="item assertive" href="#">
              Violencia domestica
            </a>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
